<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="my_robot">

    <xacro:include filename="$(find tutorial)/urdf/arm.xacro" />
    <xacro:include filename="$(find tutorial)/urdf/head.xacro" />
    
    <link name="base_link">
        <visual>
            <geometry>
                <box size="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <box size="1 1 1"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="1"/>
            <inertia ixx="0.21" ixy="0" ixz="0" iyy="0.27" iyz="0" izz="0.10"/>
        </inertial>
    </link>
    
    <xacro:arm prefix="right" length=".7" radius=".2" reflect="1" />
    <xacro:arm prefix="left" length=".7" radius=".2" reflect="-1" />
    <xacro:head />
    
    <!-- Add ROS plugin so we can interact with our robot -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
        </plugin>
    </gazebo>
</robot>
