<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="my_robot">

    <xacro:include filename="$(find tutorial)/urdf/arm.xacro" />
    <xacro:include filename="$(find tutorial)/urdf/head.xacro" />
    
    <link name="base_link">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="1.5 1 0.5"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="1.5 1 0.5"/>
            </geometry>
        </collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertial>
            <mass value="1"/>
            <inertia ixx="0.21" ixy="0" ixz="0" iyy="0.27" iyz="0" izz="0.10"/>
        </inertial>
    </link>
    
    <xacro:arm prefix="front_right" length=".125" radius=".5" reflect_x="1" reflect_y= "1"/>
    <xacro:arm prefix="front_left" length=".125" radius=".5" reflect_x="1" reflect_y= "-1"/>
    <xacro:arm prefix="back_right" length=".125" radius=".5" reflect_x="-1" reflect_y="1"/>
    <xacro:arm prefix = "back_left" length=".125" radius=".5" reflect_x="-1" reflect_y="-1"/>
    <xacro:head />
    
    <!-- Add ROS plugin so we can interact with our robot -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
        </plugin>
    </gazebo>
</robot>
